<div class="card">
	<div class="card-header">
		Card actions
		<div class="card-header-actions">
			<a class="card-header-action btn-setting" href="#">
				<i class="fa fa-pencil"></i>
			</a>
			<a class="card-header-action btn-minimize" href="#">
				<i class="fa fa-close"></i>
			</a>
		</div>
	</div>
	<div class="card-body">
		<i class="fa fa-camera-retro"></i> fa-camera-retro
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	</div>
</div>

@code {

}
