<div class="card">
	<div class="card-header">
		<input class="form-control" id="name" type="text" placeholder="Enter your name">
	</div>
	<div class="card-body">
		<textarea class="form-control" id="textarea-input" name="textarea-input" rows="9" placeholder="Content.."></textarea>
	</div>
	<div class="card-footer">
		<div class="row align-items-center">
			<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
				<button class="btn btn-block btn-success" type="button">Сохранить</button>
			</div>
			<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
				<button class="btn btn-block btn-secondary" type="button">Отменить</button>
			</div>
		</div>
	</div>
</div>

@code {

}
