<button class="btn card-header-action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v"></i></button>
<div class="dropdown-menu dropdown-menu-right" data-popper-placement="bottom-start">
	@if (Wrapper != null)
	{
		@Wrapper
	}

</div>

@code {
	[Parameter]
	public RenderFragment Wrapper { get; set; }
}
